.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests/
*.md
.phpunit*
phpunit.xml
.pint.json
.editorconfig
.github/
Makefile
